<div class="main-wrapper flex min-h-screen">

  <div class="w-72 min-h-screen content-background flex flex-col">

    <div class="flex items-center ms-2">
      <a [routerLink]="['/']" class="flex items-center gap-3 p-3 no-underline">
        <span class="text-lg font-semibold tracking-tight text-on-surface-900">Better Placemaking</span>
      </a>
    </div>

    <nav class="px-3 mt-7">
      <p-menu [model]="navItems">
        <ng-template #item let-item>
          <a
            [routerLink]="item.routerLink"
            class="p-menu-item-link">
            <fa-icon [icon]="item.faIcon"></fa-icon>
            <span>{{ item.label }}</span>
          </a>
        </ng-template>
      </p-menu>
    </nav>

    <nav class="px-3 mt-7">
      <p-menu [model]="navItemsIfSelected">
        <ng-template #item let-item>
          <a
            [routerLink]="item.routerLink"
            class="p-menu-item-link">
            <fa-icon [icon]="item.faIcon"></fa-icon>
            <span>{{ item.label }}</span>
          </a>
        </ng-template>
      </p-menu>
    </nav>

    <nav class="px-3 mt-7">
      <p-menu [model]="navItemsAdmin">
        <ng-template #item let-item>
          <a
            [routerLink]="item.routerLink"
            class="p-menu-item-link">
            <fa-icon [icon]="item.faIcon"></fa-icon>
            <span>{{ item.label }}</span>
          </a>
        </ng-template>
      </p-menu>
    </nav>
    
    <nav class="px-3 mt-auto mb-4">
      <p-menu [model]="footerItems">
        <ng-template #item let-item>
          <button type="button" class="p-menu-item-link">
            <fa-icon [icon]="item.faIcon"></fa-icon>
            <span>{{ item.label }}</span>
          </button>
        </ng-template>
      </p-menu>
    </nav>

  </div>

  <div class="grow overflow-y-auto inset-shadow-sm  surface-ground p-8">
    <router-outlet></router-outlet>
  </div>
  
</div>
