<div class="card bg-base-200 shadow p-4 mx-auto w-fit">
	<h1 class="text-2xl font-semibold mb-2">Projects</h1>
	<div class="overflow-x-auto">
		<table class="table table-sm">
			<thead>
				<tr>
					<th>Name</th>
					<th class="text-center">Clusters</th>
					<th class="text-center">Cameras</th>
					<th class="text-right">
						<button type="button" class="btn btn-primary btn-sm" (click)="newProject()">New</button>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let p of projects" class="hover">
					<td>{{ p.name }}</td>
					<td class="text-center">{{ p.clusters }}</td>
					<td class="text-center">{{ p.cameras }}</td>
					<td class="text-right">
						<button type="button" class="btn btn-primary btn-sm" (click)="editProject(p)">Edit</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
